.Card {
	overflow: hidden;
	transform-origin: top left;
	outline: solid black 1px;

	.positionable, .background {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
	}

	.positionable {
		transform: translate(-50%, -50%);
	}

	.description {
		span {
			width: 100%;
		}
		white-space: pre-line;
	}
}
