.CardEditor {
	height: 100%;
	min-width: 470px;
	padding-top: 1em;
	padding-bottom: 1em;

	.column {
		height: 100%;
		padding: 2em;
		padding-top: 1em;
	}

	.left {
		border-right: solid #ccc 1px;
	}

	.right {
	}
}
