.CardEditor {
	height: 100%;
	min-width: 470px;
	padding-top: 1em;
	padding-bottom: 1em;

	.panel {
		height: 100%;
		padding: 2em;
		padding-top: 1em;
		float: left;
		width: auto;
		overflow-y: scroll;
	}

	.card-preview {
		border-right: solid #ccc 1px;
	}

	.Form {
		width: 100%;
	}
}
