.Card {
	overflow: hidden;
	transform-origin: top left;

	.background, .thumbnail, .informations {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.thumbnail {
		transform: translate(-50%, -50%);
	}
}
