.List {
	height: 100%;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;

	.items {
		bottom: 0;
		overflow-y: auto;
		height: 100%;
	}
}

.List.card-list {

	$border-color: #111;
	$text-color: white;

	.Item {
		margin-bottom: 0.5em;
		height: 4em;

		text-shadow: rgba(255, 255, 255, 0.4) 0 0 15px, black 0 0 3px, black 0 0 1px;

		border-top: solid $border-color 1px;
		border-bottom: solid $border-color 1px;

		color: $text-color;

		h2 {
			color: $text-color;
			margin-bottom: 0.2em;
			min-height: 1em;
		}
		span {
			height: 2em;
			min-height: 1em;
		}

	}

	.content {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
	}
}

.List.export-card-list {

	$item-height: 2.4em;

	max-height: 400px;

	.Item {
		height: $item-height;
		margin-bottom: 0.5em;

		.ant-input-number {
			height: $item-height;
		}
	}
}

.List.effect-list {
	.Item:hover {
		font-weight: bold;
	}
}
