.StatusBar {
	padding: 0;
	padding-left: 0.2em;
	background-color: white;
	overflow: hidden;

	.version {
		float: right;
		height: 100%;

		.current-version {
			padding-right: 0.2em;
		}
	}

	.update-button {
		height: 100%;
		padding-left: 0.5em;
		padding-right: 0.5em;

		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.update-button:hover {
		padding-right: 1em;
	}
}
