.app {
	height: 100%;
}

.hidden {
	display: none;
}

.ant-layout-sider {
	.ant-tabs {
		.ant-tabs-nav {
			width: 100%;
		}
		div[role=tab] {
			color: white;
			width: 50%;
			margin-right: 0;
			text-align: center;
		}
	}

	.List.card-list {
		height: calc(100% - 100px);
	}

	button.new {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #eee;
		border: none;
		font-size: 20pt;
	}

	button.new:hover {
		background-color: #ddd;
	}

	button.new:active {
		background-color: #bbb;
	}
}

.ant-form-item-control {
	.List {
		line-height: initial;
	}
}
